<h1>App Component </h1>

  <div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">Component to view</h3>
                </div>
                <div class="panel-body">
                  <h4>1.interpolation Binding</h4>
                  <app-data-binding-interpolation></app-data-binding-interpolation>
                  <hr>
                  <h4>2.Property Binding</h4>
                  <app-property-binding></app-property-binding>
                  <hr>
                  <h4>3.Attribute Binding</h4>
                  <app-attribute-binding></app-attribute-binding>
                  <hr>
                  <h4>4.Class Binding</h4>
                  <app-class-binding></app-class-binding>
                  <hr>
                  <h4>5.Style Binding</h4>
                  <app-style-binding></app-style-binding>
                  
                </div>
            </div>
            
        </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">View to Component</h3>
              </div>
              <div class="panel-body">
                  <h4>1.Event Binding</h4>
                  <app-event-binding></app-event-binding>
              </div>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">View to Component to View</h3>
                </div>
                <div class="panel-body">
                    <h4>1.Two-way Binding</h4>
                    <app-view-to-component-to-view></app-view-to-component-to-view>
                </div>
            </div>
          </div>

      </div>
    </div>


    
  