<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <h3 class="text-center">Employee Management</h3>
        <hr/>
        <input type="button" value="Add +"
               onclick="window.location.href='showForm'; return false;"
               class="btn btn-primary"/>
        <form style=" margin-right: 0px; float: right;">
            <input name="s"  type="text" style="width: 600px; height: 30px; border-radius: 4px;" placeholder="Enter a full name or id"/>
            <input type="submit" value="Search" style="width: 70px;height: 35px; border-radius: 4px; background: #337ab7; color: #ffffff;"/>
        </form>
        <br/>

        <br>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Employee List</div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Group Employees</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="emls : ${employees}">
                        <td th:text="${emls.id}"></td>
                        <td th:text="${emls.group}"></td>
                        <td th:text="${emls.fullName}"></td>
                        <td th:text="${emls.gender}"></td>
                        <td th:text="${emls.phoneNumber}"></td>
                        <td>
                            <!-- display the update link -->
                            <a th:href="@{'/employee/update?id=' + ${emls.id}}">Update</a>
                            | <a th:href="@{'/employee/delete?id=' + ${emls.id}}"
                                 onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
                        </td>

                    </tr>

                </table>

            </div>
        </div>
    </div>

</div>

</body>
</html>