
<div class="panel panel-danger">
      <div class="panel-heading">
            <h3 class="panel-title">Movie Add Edit</h3>
      </div>
      <div class="panel-body">
            
            <form>
            
                <div class="form-group">
                    <label for="nameMovie">Name Movie</label>
                    <input type="text" class="form-control" #name>
                </div>
                <div class="form-group">
                    <label for="linkMovie">Link Movie</label>
                    <input type="text" class="form-control" #link>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" #author>
                </div>    
            
                <button type="button" class="btn btn-primary" (click)="addMovie(name.value, link.value, author.value)">Add</button>
            </form>
            
      </div>
</div>
