<h1>Aweresome Calculator</h1>
<div>
    <input type="number" class="form-input" [value] = "first" (change) = "onFirstChange($event.target.value)" >
    <select name="calculor" class="form-input" [value] = "operator" 
    (change) = "onSelectChange($event.target.value)">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" class="form-input" [value]="second" (change)="onSecondChange($event.target.value)">
</div>
<div>
    <button class="form-input" (click)="calculator()">
        Result
    </button>
</div>
<div class="output">
    {{output}}
</div>
