<form>
    <legend>Add Book</legend>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="book.name" name="name">
    </div>
    <div class="form-group">
        <label for="read"> Read </label>
        <select name="read" id="input" class="form-control" required="required" [(ngModel)]="book.read">
            <option value="true">Reading</option>
            <option value="false">Reading Again</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAddBook()">Add</button>
</form>

