<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">List Book Reading</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" [routerLink]="['/list-book/add']">Add Book</button>
        <table class="table table-bordered table-hover" [style.margin-top.px]="20">
            <thead>
                <tr>
                    <th>List Reading</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td *ngIf="book.read">{{ book.name }}</td>
                    <td *ngIf="book.read">{{ book.read ? 'Reading' : ''}}</td>
                    <td *ngIf="book.read">
                        <button type="button" class="btn btn-success" [routerLink]="['/list-book', book.id ,'edit']">Edit</button>
                        |
                        <button type="button" class="btn btn-danger" (click)="onDeleteBook(book.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



